port = 6002
max-players = 3
bootstrap-ip = localhost\:9092
attempts-per-request = 3
time-out = 1000
players-folder = players
# allowed-characters-file =
weather-request-timeout = 2000
weather-request-http-version = HTTP_1_1
weather-request-uri = https\://api.openweathermap.org/data/2.5/weather?q\={city_name}&appid\={API_key}&units\=metric
weather-request-token = 
save-map-period = 17
kafka-encryption-algorithm = AES