socket-port = 6001
https-port = 6000
https-ip = 192.168.1.142
https-ssl-protocol = TLS
key-store-type = JKS
key-factory-algorithm = SunX509
trust-factory-algorithm = SunX509
players-folder = players
# allowed-characters-file =
attempts-per-request = 3
time-out = 2000
https-certificate-file-password = 
https-certificate-file = 
player-not-specified-message = Missing player alias
player-not-found-message = Could not find '%player_alias%'
request-body-invalid = Invalid request body
alias-not-available-response = The specified alias is not valid
player-create-error-response = Could not create player\: %error%
post-missing-field-response = Missing field\: %field%
incorrect-password-post-response = Incorrect password